<section>
  <div id='heroes'>
    <div id='title'>
      <div>
        <img  id='imgTitle' src='/assets/icons/characters.png'>
      </div>
      <div id='h1Title'>
        <h1>Characters</h1>
      </div>
    </div>

    <div id= 'select'>
      <select id='filtro' (change)='changeSelectValue($event)'>
        <option class='options'> Sort by </option>
        <option class='options' value="ascendiente"> A-Z </option>
        <option class='options' value="descendiente"> Z-A </option>
      </select>
    </div>
  </div>
</section>

<section id="sectionsCard">
  <app-hero-card class='conthero'></app-hero-card>
</section>
